<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindMesh</title>
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<body>
    <div class="container">
        <h1>MindMesh</h1>

        <h2>Channels</h2>
        <div class="row">
            <div class="col-md-6">
                <form id="create-channel-form">
                    <div class="form-group">
                        <label for="channel-name-input">Name</label>
                        <input type="text" class="form-control" id="channel-name-input">
                    </div>
                    <div class="form-group">
                        <label for="channel-description-input">Description</label>
                        <textarea class="form-control" id="channel-description-input"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Channel</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <ul id="channel-list"></ul>
            </div>
        </div>

        <h2>Threads</h2>
        <div class="row">
            <div class="col-md-6">
                <form id="create-thread-form">
                    <div class="form-group">
                        <label for="channel-select">Channel</label>
                        <select class="form-control" id="channel-select"></select>
                    </div>
                    <div class="form-group">
                        <label for="thread-title-input">Title</label>
                        <input type="text" class="form-control" id="thread-title-input">
                    </div>
                    <div class="form-group">
                        <label for="thread-author-input">Author</label>
                        <input type="text" class="form-control" id="thread-author-input">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Thread</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <ul id="thread-list"></ul>
            </div>
        </div>

        <h2>Messages</h2>
        <div class="row">
            <div class="col-md-6">
                <form id="create-message-form">
                    <div class="form-group">
                        <label for="message-content-input">Content</label>
                        <textarea class="form-control" id="message-content-input"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-author-input">Author</label>
                        <input type="text" class="form-control" id="message-author-input">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Message</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <ul id="message-list"></ul>
            </div>
        </div>
        
        <!-- jQuery and Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+Yw6z5tqB2IyI0U2FudpjPs5zsXQAo" crossorigin="anonymous"></script> -->
        
        <script>
            $(document).ready(function() {
                // Load channels on page load
                loadChannels();
        
                // Handle channel form submission
                $('#create-channel-form').submit(function(event) {
                    event.preventDefault();
        
                    var name = $('#channel-name-input').val();
                    var description = $('#channel-description-input').val();
        
                    $.ajax({
                        url: '/channels',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({name: name, description: description}),
                        success: function(response) {
                            $('#channel-list').append('<li>' + response.channel_name + ' - ' + response.description + '</li>');
                            $('#channel-name-input').val('');
                            $('#channel-description-input').val('');
                        },
                        error: function() {
                            alert('Error creating channel');
                        }
                    });
                });
        
                // Handle thread form submission
                $('#create-thread-form').submit(function(event) {
                    event.preventDefault();
        
                    var channelName = $('#channel-select').val();
                    var title = $('#thread-title-input').val();
                    var author = $('#thread-author-input').val();
        
                    $.ajax({
                        url: '/channels/' + channelName + '/threads',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({title: title, author: author}),
                        success: function(response) {
                            $('#thread-list').append('<li>' + response.title + ' - ' + response.author + '</li>');
                            $('#thread-title-input').val('');
                            $('#thread-author-input').val('');
                        },
                        error: function() {
                            alert('Error creating thread');
                        }
                    });
                });
        
                // Handle message form submission
                $('#create-message-form').submit(function(event) {
                    event.preventDefault();
        
                    var channelName = $('#channel-select').val();
                    var threadTitle = $('#thread-select').val();
                    var content = $('#message-content-input').val();
                    var author = $('#message-author-input').val();
        
                    $.ajax({
                        url: '/channels/' + channelName + '/threads/' + threadTitle + '/messages',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({content: content, author: author}),
                        success: function(response) {
                            $('#message-list').append('<li>' + response.content + ' - ' + response.author + '</li>');
                            $('#message-content-input').val('');
                            $('#message-author-input').val('');
                        },
                        error: function() {
                            alert('Error creating message');
                        }
                    });
                });
            });
        
            function loadChannels() {
    $.get('/channels', function(response) {
        for (var channel in response) {
            $('#channel-select').append('<option value="' + channel + '">' + response[channel].name + '</option>');
            $('#channel-list').append('<li>' + response[channel].name + ' - ' + response[channel].description + '</li>');
        }
    });
}

function loadThreads(channelName) {
    $.get('/channels/' + channelName, function(response) {
        $('#thread-list').empty();
        $('#thread-select').empty();
        for (var i = 0; i < response.threads.length; i++) {
            $('#thread-select').append('<option value="' + response.threads[i].title + '">' + response.threads[i].title + '</option>');
            $('#thread-list').append('<li>' + response.threads[i].title + ' - ' + response.threads[i].author + '</li>');
        }
    });
}

    function loadMessages(channelName, threadTitle) {
        $.get('/channels/' + channelName + '/threads/' + threadTitle + '/messages', function(response) {
            $('#message-list').empty();
            for (var i = 0; i < response.length; i++) {
                $('#message-list').append('<li>' + response[i].content + ' - ' + response[i].author + '</li>');
            }
        });
    }

    $('#channel-select').change(function() {
        var channelName = $(this).val();
        loadThreads(channelName);
    });

    $('#thread-select').change(function() {
        var channelName = $('#channel-select').val();
        var threadTitle = $(this).val();
        loadMessages(channelName, threadTitle);
    });
</script>
</body>
</html>
        
